@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
  background-color: #ffffff;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 0px;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.top-block {
  background: url(../img/header_logo.png) no-repeat top;
  background-size: 100%;
}

.logo{

}

.logo_footer{
margin-top: 20px;
margin-bottom: 20px;
}

header {
  background: url(../img/header_logo.png) no-repeat top;
  background-size: auto;
padding-top: 24px;
background-attachment: relative;
background-position: center center;
min-height: 490px;
text-transform: uppercase;

-webkit-background-size: cover;
}

.way {
  font-family: "Ubuntu";
  font-size: 10px;
  text-transform: none;
}

h1{
  font-family: "Ubuntu";
  font-size: 50px;
  color: #fff;
  margin-top: 0;
}

h2{
  font-family: "Ubuntu";
  font-size: 10px;
  color: #fff;
  margin-top: 0;
}

h3{
  font-family: "Ubuntu";
  font-size: 30px;
  color: #2e2e2e;
  margin-top: 30px;
  margin-bottom: 30px;
}

h4{
  font-family: "Ubuntu";
  font-size: 18px;
  color: #ababab;
  margin-top: 0;
}
h5{
  font-family: "Ubuntu";
  font-size: 20px;
  color: #2e2e2e;
  margin-top: 30px;
  margin-bottom: 30px;
}

h6 {
  font-family: "Ubuntu";
  font-weight: 300;
  color: #333;
}

.map{
  margin-top: 20px;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

a {
  color: #fff;
}

a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

menu {

}

.menu__item {
  margin: 13px;
  margin-top: 0;
}

.menu__item1 {
  margin: 13px;
  margin-top: 0;
  color: #7b7b7b;
}

hr {
  display: block;
  height: 1px;
  border: 0px;
  border-top: 1px solid #ccc;
  margin-top: 0px;
  padding: 0px;
}

.navbar{
  font-weight: 800;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-inverse{
  background: #2d2d2d;
  background-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a{
  background-color: #ff7878;
}

.navbar-inverse .navbar-brand{
  color: #999;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px;
}

#headerwrap {
  background: url(../img/header_logo.png) no-repeat center top;
  margin-top: -0px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  background-size: 100%;

-webkit-background-size: cover;
-background-size: cover;
}
